<table>
    <tr>
        <th>Tên</th>
        <th>Địa chỉ Mac Bluetooth</th>
    </tr>
    <% data.forEach(function(row) { %>
        <tr>
            <td><%= row.Ten %></td>
            <td><%= row.Mac %></td>
        </tr>
    <% }); %>
</table>
